<h1>Welcome, <%= @user.name %></h1>
<p>
  You have successfully signed up to RailsOverflow page,
  we hope that we can enjoy together resolving rails issues and dubs.
</p>
<p>
  To verify your email for account activation, just follow this <a href=<%= @url %>>link</a>.
</p>
<p>Thanks for joining and have a great day!</p>
